<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>QuickBite Restuarant</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  {% load static %}
<!--  <link rel="stylesheet" href="{% static 'assets/' %}">-->

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  <!-- =======================================================
  * Template Name: Yummy
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>QuickBite<span>.</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{url 'hero' }>Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'menu' %}">Menu</a></li>
          <li><a href="{% url 'chefs' %}">Chefs</a></li>
          <li><a href="{% url 'gallery' %}">Gallery</a></li>
<!--          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>-->
<!--            <ul>-->
<!--              <li><a href="#">Drop Down 1</a></li>-->
<!--              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>-->
<!--                <ul>-->
<!--                  <li><a href="#">Deep Drop Down 1</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 2</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 3</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 4</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 5</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li><a href="#">Drop Down 2</a></li>-->
<!--              <li><a href="#">Drop Down 3</a></li>-->
<!--              <li><a href="#">Drop Down 4</a></li>-->
<!--            </ul>-->
<!--          </li>-->
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

      <a class="btn-book-a-table" href="{% url 'order' %}">Book a Table</a>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up">Dinner with us for...<br>Finger licking Meals</h2>
          <p data-aos="fade-up" data-aos-delay="100">Enjoy the luxurious comforts and impeccable service. Experience the indulgence you deserve during your stay. Discover the unparalleled hospitality tailored just for you</p>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="{% url 'order' %}" class="btn-book-a-table">Book a Table</a>
            <a href="https://youtu.be/dBoQwUyTcEQ?si=VI-La_O41Cy2w60q" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="https://media.istockphoto.com/id/1190330112/photo/fried-pork-and-vegetables-on-white-background.webp?s=612x612&w=is&k=20&c=jkQQ02u3DffYmKzhaCvu4G2tQkge8YNc3Ht2fapB9Yg=" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

        <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <br><br>
          <h2>About Us</h2>
          <p>Learn More <span>About Us</span></p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-7 position-relative about-img" style="background-image: url( {% static 'assets/img/events-3.jpg' %});" data-aos="fade-up" data-aos-delay="150">
            <div class="call-us position-absolute">
              <h4>Book a Table</h4>
              <p>+1 4634 4352 73</p>
            </div>
          </div>
          <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                Welcome to our culinary haven! Indulge in a flavorful journey where taste meets tradition, and every dish tells a story of passion and dedication.
            </p>
            <ul>
                <li><i class="bi bi-check2-all"></i> Immerse yourself in exquisite flavors crafted from fresh, locally sourced ingredients.</li>
                <li><i class="bi bi-check2-all"></i> Experience the harmony of delightful tastes and exceptional service in every visit.</li>
                <li><i class="bi bi-check2-all"></i> Our commitment to quality ensures each dish ignites the senses, leaving lasting memories.</li>
            </ul>
            <p>
                Delight in our culinary creations, meticulously prepared to elevate your dining experience. We strive to bring joy to every palate, infusing each moment with culinary excellence.
            </p>

              <div class="position-relative mt-4">
                <img src="{% static 'assets/img/stats-bg.jpg' %}" class="img-fluid" alt="">
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="why-box">
              <h3>Why Choose Yummy?</h3>
              <p>
                Embark on a gastronomical adventure with Yummy, your one-stop destination for delectable dining experiences.
                  Our app meticulously curates a collection of top-rated restaurants, cafes, and eateries, ensuring you savor every bite of your stay
              </p>
              <div class="text-center">
                <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div><!-- End Why Box -->

          <div class="col-lg-8 d-flex align-items-center">
            <div class="row gy-4">
              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-clipboard-data"></i>
                  <h4>Effortless Exploration</h4>
                  <p>Yummy simplifies the process, presenting you with an array of enticing options tailored to your preferences</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-gem"></i>
                  <h4>Convenience at Your Fingertips</h4>
                  <p>With Yummy, you can seamlessly make reservations, place orders for delivery or takeout, and even pre-order meals for pickup, all from the comfort of your hotel room. No more waiting in lines or struggling with language barriers - Yummy puts the power to savor at your fingertips.</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-inboxes"></i>
                  <h4>Curated Recommendations</h4>
                  <p>Our team of passionate food enthusiasts meticulously handpicks each restaurant, ensuring you encounter only the finest culinary experiences. We scour the city for hidden gems, emerging trends, and established favorites, guaranteeing you a dining journey filled with delightful surprises.</p>
                </div>
              </div><!-- End Icon Box -->

            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter">
      <div class="container" data-aos="zoom-out">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Clients</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
              <p>Workers</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>
    </section><!-- End Stats Counter Section -->

    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Menu</h2>
          <p>Check Our <span>Yummy Menu</span></p>
        </div>

        <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
              <h4>Starters</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
              <h4>Breakfast</h4>
            </a><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
              <h4>Lunch</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner">
              <h4>Dinner</h4>
            </a>
          </li><!-- End tab nav item -->

        </ul>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

          <div class="tab-pane fade active show" id="menu-starters">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Starters</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="{% static 'assets/img/menu/menu-item-1.png' %}" class="glightbox"><img src="https://media.istockphoto.com/id/1214416414/photo/barbecued-salmon-fried-potatoes-and-vegetables-on-wooden-background.webp?b=1&s=170667a&w=0&k=20&c=MM6pU7DfEs8la5rADlnCqAPiWs0FIwCP9ExAF_A-vWM=" class="menu-img img-fluid" alt=""></a>
                <h4>Grilled Salmon</h4>
                <p class="ingredients">
                   Salmon fillet, Lemon herb, Olive oil, Garlic
                <p class="price">
                  <a href="{% url 'order' %}" class="btn btn-success">order</a>
                  Ksh 650
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="{% static 'assets/img/menu/menu-item-2.png' %}" class="glightbox"><img src="https://media.istockphoto.com/id/1345888788/photo/caprese-salad.webp?b=1&s=170667a&w=0&k=20&c=MJ7KuxeFUv7HDqj38CFPDnA5JTXPBlwzPh3PGop4j1M=" class="menu-img img-fluid" alt=""></a>
                <h4>Caprese Salad</h4>
                <p class="ingredients">
                 Fresh mozzarella, Vine-ripened tomatoes, Basil leaves, Balsamic glaze
                </p>
                <p class="price">
                  <a href="{% url 'order' %}" class="btn btn-success">order</a>
                  Ksh 350
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="{% static 'assets/img/menu/menu-item-3.png' %}" class="glightbox"><img src="https://media.istockphoto.com/id/1248489319/photo/tiramisu-cake-with-mint.webp?b=1&s=170667a&w=0&k=20&c=kSydby3c1pRVpQ8clJ5lzlis7Ms1HQrizM-L79ETBnE=" class="menu-img img-fluid" alt=""></a>
                <h4>Tiramisu Cake</h4>
                <p class="ingredients">
                  Ladyfingers, Mascarpone cheese, Espresso coffee, Cocoa powder
                </p>
                <p class="price">
                   <a href="{% url 'order' %}" class="btn btn-success">order</a>
                  Ksh 1120
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="{% static 'assets/img/menu/menu-item-4.png' %}" class="glightbox"><img src="https://media.istockphoto.com/id/1452768554/photo/roasted-chicken-and-vegetables.webp?b=1&s=170667a&w=0&k=20&c=8grwA4VOghNVFCug2VexsdpxMvFrvVDZj2m7gHpAk1Y=" class="menu-img img-fluid" alt=""></a>
                <h4>Roast Chicken</h4>
                <p class="ingredients">
                  Whole chicken, Rosemary garlic, Butter,, Thyme
                </p>
                <p class="price">
                   <a href="{% url 'order' %}" class="btn btn-success">order</a>
                  Ksh 870
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="{% static 'assets/img/menu/menu-item-5.png' %}" class="glightbox"><img src="https://media.istockphoto.com/id/184120573/photo/spaghetti-with-pesto-sauce.webp?b=1&s=170667a&w=0&k=20&c=mIlUFvCLvyokdGiqhEnUpeN2YihOT9MawpQ5dQavelA=" class="menu-img img-fluid" alt=""></a>
                <h4>Pesto Pasta</h4>
                <p class="ingredients">
                  Linguine pasta, Basil pesto, Pine nuts, Parmesan cheese, Cherry tomatoes
                </p>
                <p class="price">
                   <a href="{% url 'order' %}" class="btn btn-success">order</a>
                  Ksh 600
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="{% static 'assets/img/menu/menu-item-6.png' %}" class="glightbox"><img src="https://media.istockphoto.com/id/183042590/photo/creme-caramel.webp?b=1&s=170667a&w=0&k=20&c=353PCpoq8lFMQFUCtS8PHINlLxsZFsDiG088FSMKk9s=" class="menu-img img-fluid" alt=""></a>
                <h4>Caramel Flan</h4>
                <p class="ingredients">
                  Sugar syrup, Eggs, Vanilla extract, Heavy cream, Caramel sauce
                </p>
                <p class="price">
                   <a href="{% url 'order' %}" class="btn btn-success">order</a>
                  Ksh 900
                </p>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Starter Menu Content -->

          <div class="tab-pane fade" id="menu-breakfast">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Breakfast</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="{% static 'assets/img/menu/menu-item-1.png' %}" class="glightbox"><img src="https://media.istockphoto.com/id/157610681/photo/fruit-tart.webp?b=1&s=170667a&w=0&k=20&c=V-pr2U-rr29dPnEFbzp5D8W--LUdDCjAeyFs8iV-a-8=" class="menu-img img-fluid" alt=""></a>
                <h4>Fruit Tart</h4>
                <p class="ingredients">
                  Shortcrust pastry, Pastry cream, Fresh fruits, Apricot glaze, Mint leaves
                </p>
                <p class="price">
                   <a href="{% url 'order' %}" class="btn btn-success">order</a>
                  Ksh 400
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="{% static 'assets/img/menu/menu-item-2.png' %}" class="glightbox"><img src="https://media.istockphoto.com/id/1473452859/photo/tasty-cheeseburger-glass-of-cola-and-french-fries-on-wooden-tray-close-up.webp?b=1&s=170667a&w=0&k=20&c=AO5BL1L55jnam8yVMVTH0Sj0mnaPNrVaw42q9rgvFps=" class="menu-img img-fluid" alt=""></a>
                <h4>Beef Burger</h4>
                <p class="ingredients">
                  Beef patty, Cheddar cheese, Brioche bun, Lettuce, Tomato
                </p>

                <p class="price">
                  <a href="{% url 'order' %}" class="btn btn-success">order</a>
                  Ksh 970
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                 <a href="{% static 'assets/img/menu/menu-item-2.png' %}" class="glightbox"><img src="https://media.istockphoto.com/id/483571809/photo/shrimp-scampi.webp?b=1&s=170667a&w=0&k=20&c=A0govMYslcE3-z0G268RcgCG6B4b-ufMkm2vmGPppC4=" class="menu-img img-fluid" alt=""></a>
                <h4>Shrimp Scampi</h4>
                <p class="ingredients">
                  Shrimp, Garlic butter, White wine, Lemon juice, Parsley
                </p>
                <p class="price">
                   <a href="{% url 'order' %}" class="btn btn-success">order</a>
                  Ksh 320
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="{% static 'assets/img/menu/menu-item-4.png' %}" class="glightbox"><img src="https://media.istockphoto.com/id/1160715936/photo/ratatouille-being-cooked-in-a-cast-iron-casserole-french-cooking.webp?b=1&s=170667a&w=0&k=20&c=_2D-iyU7Gd6Ns0ZAKWXsioLENB9OcYprLcLvZF7LLFc=" class="menu-img img-fluid" alt=""></a>
                <h4>Ratatouille Stew</h4>
                <p class="ingredients">
                  Eggplant, Zucchini, Bell peppers, Tomatoes
                </p>
                <p class="price">
                   <a href="{% url 'order' %}" class="btn btn-success">order</a>
                  Ksh 710
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="{% static 'assets/img/menu/menu-item-5.png' %}" class="glightbox"><img src="https://media.istockphoto.com/id/1467357489/photo/rainbow-roll-with.webp?b=1&s=170667a&w=0&k=20&c=p2w0DU7hFiggt0nL2C4wVdgeSkRW9D2jQZu8qzUZ_ks=" class="menu-img img-fluid" alt=""></a>
                <h4>Sushi Roll</h4>
                <p class="ingredients">
                  Sushi rice, Nori seaweed, Fresh fish, Cucumber
                </p>
                <p class="price">
                   <a href="{% url 'order' %}" class="btn btn-success">order</a>
                  Ksh 370
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="{% static 'assets/img/menu/menu-item-6.png' %}" class="glightbox"><img src="https://media.istockphoto.com/id/1325470251/photo/yellow-ice-cream-sorbet-in-blue-ceramic-bowl-closeup.webp?b=1&s=170667a&w=0&k=20&c=FKUgDyFm6izvUbLvgGhYUB2PE8MW4tkIOS1NdQLrBPs=" class="menu-img img-fluid" alt=""></a>
                <h4>Mango Sorbet</h4>
                <p class="ingredients">
                 Ripe mangoes, Sugar syrup, Lemon juice, Water
                </p>
                <p class="price">
                   <a href="{% url 'order' %}" class="btn btn-success">order</a>
                  $Ksh 230
                </p>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Breakfast Menu Content -->

          <div class="tab-pane fade" id="menu-lunch">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Lunch</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="{% static 'assets/img/menu/menu-item-1.png' %}" class="glightbox"><img src="https://media.istockphoto.com/id/642027050/photo/healthy-green-salad-with-roasted-butternuts-squash.webp?b=1&s=170667a&w=0&k=20&c=X3lULXCg3vwd0XexJtdPazDkIxtXaOYq0LeTsuAkTb0=" class="menu-img img-fluid" alt=""></a>
                <h4>Spinach Salad</h4>
                <p class="ingredients">
                  Fresh spinach, Strawberries, Feta cheese, Candied pecans
                </p>
                <p class="price">
                   <a href="{% url 'order' %}" class="btn btn-success">order</a>
                  Ksh 160
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="{% static 'assets/img/menu/menu-item-2.png' %}" class="glightbox"><img src="https://media.istockphoto.com/id/636044696/photo/chocolate-pudding.webp?b=1&s=170667a&w=0&k=20&c=3UprtiR8iecsvI3s9-yQ5qgP77105V2ajlh7OHRvYyY=" class="menu-img img-fluid" alt=""></a>
                <h4>Chocolate Mousse</h4>
                <p class="ingredients">
                  Dark chocolate, Whipped cream, Egg yolks, Sugar
                </p>
                <p class="price">
                   <a href="{% url 'order' %}" class="btn btn-success">order</a>
                  Ksh 650
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                  <a href="{% static 'assets/img/menu/menu-item-3.png' %}" class="glightbox">
                      <img src="https://media.istockphoto.com/id/518528305/photo/homemade-lemon-and-herb-chicken.webp?b=1&s=170667a&w=0&k=20&c=0wP4y0LAZ3xfTmTmEDfeHCVnx-2wZ-F7XQXlO7aPrb8=" class="menu-img img-fluid" alt="">
                  </a>
                  <h4>Lemon Chicken</h4>
                  <p class="ingredients">
                      Chicken breasts, Lemon zest, Chicken broth, Garlic
                  </p>
                  <p class="price">
                      <a href="{% url 'order' %}" class="btn btn-success">Order Now</a>
                      Ksh 1300
                  </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                  <a href="{% static 'assets/img/menu/menu-item-4.png' %}" class="glightbox">
                      <img src="https://media.istockphoto.com/id/181071748/photo/tomato-soup.webp?b=1&s=170667a&w=0&k=20&c=dJC_-TjunqqSaeE8dYBsoS52gr_FBa2Chuxd_jy2UDQ=" class="menu-img img-fluid" alt="">
                  </a>
                  <h4>Tomato Soup</h4>
                  <p class="ingredients">
                      Tomato, Basil, Onion, Cream, Salt
                  </p>
                  <p class="price">
                      <a href="{% url 'order' %}" class="btn btn-success">Order Now</a>
                      Ksh 220
                  </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                  <a href="{% static 'assets/img/menu/menu-item-5.png' %}" class="glightbox">
                      <img src="https://media.istockphoto.com/id/1073729226/photo/delicious-goulash-with-red-cabbage-chili-and-rosemary.webp?b=1&s=170667a&w=0&k=20&c=XLrOI7Vs-pc5EOAVvcutrcaavMAGh_c-44fWOQ6dhm0=" class="menu-img img-fluid" alt="">
                  </a>
                  <h4>Beef Stew</h4>
                  <p class="ingredients">
                      Beef chunks, Carrots, Potatoes, Onion, Broth
                  </p>
                  <p class="price">
                      <a href="{% url 'order' %}" class="btn btn-success">Order Now</a>
                      Ksh 542
                  </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                  <a href="{% static 'assets/img/menu/menu-item-6.png' %}" class="glightbox">
                      <img src="https://media.istockphoto.com/id/1211166166/photo/caesar-salad-with-grilled-chicken-and-croutons-of-bread.webp?b=1&s=170667a&w=0&k=20&c=AkbC3evrWYYX1l37-QfUtraapsChzr226qJeXap46M8=" class="menu-img img-fluid" alt="">
                  </a>
                  <h4>Caesar Salad</h4>
                  <p class="ingredients">
                      Romaine lettuce, Croutons, Black pepper
                  </p>
                  <p class="price">
                      <a href="{% url 'order' %}" class="btn btn-success">Order Now</a>
                      Ksh 340
                  </p>
              </div><!-- Menu Item -->


            </div>
          </div><!-- End Lunch Menu Content -->

          <div class="tab-pane fade" id="menu-dinner">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Dinner</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="{% static 'assets/img/menu/menu-item-1.png' %}" class="glightbox">
                    <img src="https://media.istockphoto.com/id/972852490/photo/bbq-sirloin-steaks-with-fresh-thyme.webp?b=1&s=170667a&w=0&k=20&c=0P83avSLzwQPwrmKNhYKYKVgnXMlfuZ3FDbmXpQdRX4=" class="menu-img img-fluid" alt="">
                </a>
                <h4>Grilled Steak</h4>
                <p class="ingredients">
                    Beef, Herbs, Garlic, Butter, Salt
                </p>
                <p class="price">
                    <a href="{% url 'order' %}" class="btn btn-success">Order</a>
                    Ksh 870
                </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
                <a href="{% static 'assets/img/menu/menu-item-2.png' %}" class="glightbox">
                    <img src="https://media.istockphoto.com/id/503203991/photo/homemade-italian-chicken-parmesan.webp?b=1&s=170667a&w=0&k=20&c=LjQffQCDNySqAFaFRt-PtSOUKXzqBJ4Nnnl_oKkM4ko=" class="menu-img img-fluid" alt="">
                </a>
                <h4>Chicken Pasta</h4>
                <p class="ingredients">
                    Chicken, Pasta, Tomato, Cream, Herbs
                </p>
                <p class="price">
                    <a href="{% url 'order' %}" class="btn btn-success">Order</a>
                    Ksh 900
                </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
                <a href="{% static 'assets/img/menu/menu-item-3.png' %}" class="glightbox">
                    <img src="https://media.istockphoto.com/id/1308223808/photo/grilled-salmon-fillet-and-fresh-vegetable-salad-mediterranean-diet.webp?b=1&s=170667a&w=0&k=20&c=3Hqmj_jGcF6m2Tj4Cb_Sek0GMSM2AuEUk6LcHNrf7kc=" class="menu-img img-fluid" alt="">
                </a>
                <h4>Salmon Salad</h4>
                <p class="ingredients">
                    Salmon, Lettuce, Cucumber, Tomatoes, Dressing
                </p>
                <p class="price">
                    <a href="{% url 'order' %}" class="btn btn-success">Order</a>
                    Ksh 470
                </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
                <a href="{% static 'assets/img/menu/menu-item-4.png' %}" class="glightbox">
                    <img src="https://media.istockphoto.com/id/1398630614/photo/bacon-cheeseburger-on-a-toasted-bun.webp?b=1&s=170667a&w=0&k=20&c=Aq7Dg29n3DDE3gqgT2cWSh9LYxZnr-8SFu0crRQxArA=" class="menu-img img-fluid" alt="">
                </a>
                <h4>Beef Burger</h4>
                <p class="ingredients">
                    Beef, Bun, Cheese, Lettuce, Tomato
                </p>
                <p class="price">
                    <a href="{% url 'order' %}" class="btn btn-success">Order</a>
                    Ksh 800
                </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
                <a href="{% static 'assets/img/menu/menu-item-5.png' %}" class="glightbox">
                    <img src="https://media.istockphoto.com/id/1414019075/photo/close-up-image-of-row-of-five-glass-screw-cap-bottles-of-green-purple-yellow-orange-and-red.webp?b=1&s=170667a&w=0&k=20&c=v6wM-zPsrRqZ8tC7BD9OWLXF-cpHYktRgBP6lwHeSRQ=" class="menu-img img-fluid" alt="">
                </a>
                <h4>Fruit Smoothie</h4>
                <p class="ingredients">
                    Banana, Berries, Yogurt, Honey, Almond Milk
                </p>
                <p class="price">
                    <a href="{% url 'order' %}" class="btn btn-success">Order</a>
                    Ksh 500
                </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
                <a href="{% static 'assets/img/menu/menu-item-6.png' %}" class="glightbox">
                    <img src="https://media.istockphoto.com/id/1314368528/photo/brazilian-style-pizza-with-mozzarella-cheese-pepperoni-sausage-and-onion-top-view.webp?b=1&s=170667a&w=0&k=20&c=Bvh8iFhc3OVrkLVF7P6hmcggTX6arEx-Pt-VFEy4iS8=" class="menu-img img-fluid" alt="">
                </a>
                <h4>Pizza Margherita</h4>
                <p class="ingredients">
                    Dough, Tomato, Mozzarella, Basil, Olive Oil
                </p>
                <p class="price">
                    <a href="{% url 'order' %}" class="btn btn-success">Order</a>
                    Ksh 1200
                </p>
            </div><!-- Menu Item -->


            </div>
          </div><!-- End Dinner Menu Content -->

        </div>

      </div>
    </section><!-- End Menu Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Testimonials</h2>
          <p>What Are They <span>Saying About Us</span></p>
        </div>

        <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                          <i class="bi bi-quote quote-icon-left"></i>
                          "Your hotel booking app has been a game-changer for our business. It has streamlined our booking process, increased our customer satisfaction, and helped us to grow our revenue. I highly recommend your app to any business owner looking to improve their bottom line."
                          <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                        <h3>James Wicliff</h3>
                        <h4>CEO & Founder</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        Your hotel booking app sets the standard for what a user-friendly and visually appealing app can be. It seamlessly blends functionality and aesthetics, providing users with a delightful and engaging experience that makes the process of booking a hotel stay a pleasure. I highly recommend your app to anyone looking for a booking app that is both practical and stylish
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Susan Kertel</h3>
                      <h4>Designer</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="{% static 'assets/img/testimonials/testimonials-2.jpg' %}" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                         I have been very impressed with the app, I have also found that the app has helped me to save money on my hotel bookings. I would highly recommend your hotel booking application to any small store owner.
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Juice LisKar</h3>
                      <h4>Store Owner</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %}" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        Thanks to your app, I can now book hotels quickly and easily, and I can focus on my business instead of wasting time with logistics. I highly recommend your app to any entrepreneur who travels frequently.
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Quicsan Liam</h3>
                      <h4>Entrepreneur</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->



    <!-- ======= Chefs Section ======= -->
    <section id="chefs" class="chefs section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Chefs</h2>
          <p>Our <span>Proffesional</span> Chefs</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="chef-member">
              <div class="member-img">
                <img src="{% static 'assets/img/chefs/chefs-1.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Walter Pinky</h4>
                <span>Executive Chef</span>
                <p>Seasoned culinary expert with over 15 years of experience in the hospitality industry.
                    As Executive Chef, Walter leads a team of talented chefs in creating innovative and delectable dining experiences for hotel guests.
                    </p>
              </div>
            </div>
          </div><!-- End Chefs Member -->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="chef-member">
              <div class="member-img">
                <img src="{% static 'assets/img/chefs/chefs-2.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Beatrice Liss</h4>
                <span>Sous Chef</span>
                <p>With a passion for fresh, locally sourced ingredients and a deep understanding of global flavors,Beatrice
                     has crafted menus that have garnered critical acclaim and earned the hotel a reputation for culinary excellence.</p>
              </div>
            </div>
          </div><!-- End Chefs Member -->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="chef-member">
              <div class="member-img">
                <img src="{% static 'assets/img/chefs/chefs-3.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Danson Per</h4>
                <span>Chef de Partie</span>
                <p> With a deep understanding of their area of expertise, Danson consistently produces high-quality dishes that meet the expectations of discerning diners. Danson is a valuable member of the kitchen team, contributing to the overall success of the hotel's culinary program.</p>
              </div>
            </div>
          </div><!-- End Chefs Member -->

        </div>

      </div>
    </section><!-- End Chefs Section -->

    <!-- ======= Book A Table Section ======= -->
    <section id="book-a-table" class="book-a-table">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Book A Table</h2>
          <p>Book <span>Your Meal</span> With Us</p>
        </div>

        <div class="row g-0">

          <div class="col-lg-4 reservation-img" style="background-image: url({% static 'assets/img/reservation.jpg'%});" data-aos="zoom-out" data-aos-delay="200"></div>

          <div class="col-lg-8 d-flex align-items-center reservation-form-bg">
            <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
              <div class="row gy-4">
                <div class="col-lg-4 col-md-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="text" name="date" class="form-control" id="date" placeholder="Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="text" class="form-control" name="time" id="time" placeholder="Time" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="number" class="form-control" name="people" id="people" placeholder="# of people" data-rule="minlen:1" data-msg="Please enter at least 1 chars">
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Book a Table</button></div>
            </form>
          </div><!-- End Reservation Form -->

        </div>

      </div>
    </section><!-- End Book A Table Section -->

     <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>gallery</h2>
          <p>Check <span>Our Gallery</span></p>
        </div>

        <div class="gallery-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/gallery-1.png' %}"><img src="{% static 'assets/img/gallery/gallery-1.png' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/gallery-2.png' %}"><img src="{% static 'assets/img/gallery/gallery-2.png' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/gallery-8.png' %}"><img src="{% static 'assets/img/gallery/gallery-8.png' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/gallery-4.png' %}"><img src="{% static 'assets/img/gallery/gallery-4.png' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/gallery-1.png' %}"><img src="{% static 'assets/img/gallery/gallery-1.png' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/gallery-2.png' %}"><img src="{% static 'assets/img/gallery/gallery-2.png' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox h-50" data-gallery="images-gallery" href="{% static 'assets/img/gallery/gallery-4.png' %}"><img src="{% static 'assets/img/gallery/gallery-4.png' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/gallery-8.png' %}"><img src="{% static 'assets/img/gallery/gallery-8.png' %}" class="img-fluid" alt=""></a></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Gallery Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact</h2>
          <p>Need Help? <span>Contact Us</span></p>
        </div>

        <div class="mb-3">
          <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
        </div><!-- End Google Maps -->

        <div class="row gy-4">

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-map flex-shrink-0"></i>
              <div>
                <h3>Our Address</h3>
                <p>157 William St, New York, NY 10038,</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center">
              <i class="icon bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>yummy@quickbite.com</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+3 9745 78656 96</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-share flex-shrink-0"></i>
              <div>
                <h3>Opening Hours</h3>
                <div><strong>Mon-Sat:</strong> 11AM - 23PM;
                  <strong>Sunday:</strong> Closed
                </div>
              </div>
            </div>
          </div><!-- End Info Item -->

        </div>

        <form action="forms/contact.php" method="post" role="form" class="php-email-form p-3 p-md-4">
          <div class="row">
            <div class="col-xl-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
            </div>
            <div class="col-xl-6 form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form><!--End Contact Form -->

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div>
            <h4>Address</h4>
            <p>
              A108 Adam Street <br>
              New York, NY 535022 - US<br>
            </p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Reservations</h4>
            <p>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
            <h4>Opening Hours</h4>
            <p>
              <strong>Mon-Sat: 11AM</strong> - 23PM<br>
              Sunday: Closed
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Follow Us</h4>
          <div class="social-links d-flex">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Yummy</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!--  <div id="preloader"></div>-->

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>